$theme-colors: (
        "primary": black
);

.poll {
  $form-check-input-checked-bg-color: black !important;
  $form-check-input-focus-box-shadow: 0 0 0px 3px #00000044 !important;
  @import "../../node_modules/bootstrap/scss/bootstrap";
}